| {{ define "section_content" }}
.section#content
    | {{ .Date.Format (.Site.Params.dateForm | default "Mon Jan 02, 2006") }} &#183; {{ .WordCount }} words
    |
    | {{ with .Params.tags }}
    div.tag-container
        | {{ range . }}
        span.tag
            a(href!='{{ "tags/" | absURL }}{{ . | urlize }}') {{.}}
        | {{ end }}
    | {{ end }}
    hr
    | {{ .Content }}
| {{ end }}
|
| {{ define "bottom-menu" }}
.section.bottom-menu
        | {{ partial "bottom_menu.html" (dict "Page" . "show_back_menu_item" true) }}
| {{ end }}
