| {{ partial "head.html" . }}

body
    .wrap
        .section#content
            | {{ .Content }}
        |
        | {{ if .Site.Params.clickablePhotos }}
        .grid
            |
            | {{ $name := .Site.Params.galleryFolder | default "images/"}}
            | {{ $path := "gallery/" }}
            | {{ $content := "/content/" }}
            | {{ $src := (print $path $name) }}
            |
            | {{ $folder := (print $content $path $name) }}
            |
            | {{ $files := readDir $folder }}
            |
            | {{ range shuffle $files }}
            |
            div
                a(href='{{ $src | absURL }}{{.Name }}')
                    img(src='{{ $src | absURL }}{{.Name }}')
            |
            | {{ end }}
        |
        | {{ else }}
        .grid
            |
            | {{ $name := .Site.Params.galleryFolder | default "images/"}}
            | {{ $path := "gallery/" }}
            | {{ $content := "/content/" }}
            | {{ $src := (print $path $name) }}
            |
            | {{ $folder := (print $content $path $name) }}
            |
            | {{ $files := readDir $folder }}
            |
            | {{ range shuffle $files }}
            |
            div
                img(src='{{ $src | absURL }}{{.Name }}')
            | {{ end }}
        | {{ end }}
        | {{ if .Site.Params.mainMenu }}
        .section.bottom-menu
            hr
            p
                | {{ range first 1 .Site.Params.mainMenu }}
                a(href='{{ .link }}') {{ .text }}
                | {{ end }}
                | {{ range after 1 .Site.Params.mainMenu }}
                | &#183; 
                a(href='{{ .link }}') {{ .text }}
                | {{ end }}
                | &#183; 
                a(href='{{.Site.BaseURL}}') {{ .Site.Params.homepage }}
        | {{ end }}
        .section.footer
            | {{ partial "footer.html" . }}