{{ define "section_content" }}
<div class="flex-container">
    <aside role="complementary">
        {{ .Date.Format (.Site.Params.dateForm | default "Mon Jan 02, 2006") }} &#183; {{ .WordCount }} words
        <div class="tag-container">
            {{ range $term := .Params.tags }}
            {{ with $.Site.GetPage (printf "/%s/%s" "tags" $term | urlize) }}
            <span class="tag">
                <a href="{{ .RelPermalink }}">
                    {{ $term }}
                </a>
            </span>
            {{ end }}
            {{ end }}
        </div>
    </aside>
    <hr />
    <article role="article">
        {{ .Content }}
    </article>
</div>
{{ end }}

{{ define "bottom-menu" }}
<nav role="navigation" class="flex-container bottom-menu">
    {{ partial "bottom_menu.html" (dict "Page" . "show_back_menu_item" true) }}
</nav>
{{ end }}