doctype html
html
    head
        |
        | {{ block "head" . }}
        | {{ partial "head.html" . }}
        | {{ end }}
        |
        | {{ block "head_resources" . }}
        | <!-- Use this block to link to further resources like .js or .css files. -->
        | {{ end }}
        |
        title
            |
            | {{ block "title" . }}
            | {{ .Title }}
            | {{ end }}
            |
    body
        |
        | {{ block "main" . }}
        .wrap
            |
            | {{ block "section_title" . }}
            .section#title
                | {{ .Title }}
            | {{ end }}
            |
            | {{ block "section_content" . }}
            .section#content
                | {{ .Content }}
            | {{ end }}
            |
            | {{ block "bottom-menu" . }}
            | {{ if .Site.Params.mainMenu }}
            .section.bottom-menu
                | {{ partial "bottom_menu.html" (dict "Page" . "show_back_menu_item" false) }}
            | {{ end }}
            | {{ end }}
            |
            | {{ block "footer" . }}
            .section.footer
                | {{ partial "footer.html" . }}
            | {{ end }}
            |
        | {{ end }}
        |
