| {{ partial "head.html" . }}

body
    .wrap
        .section#content
            h1 {{ .Title }}
            p {{ .Content }}
            | {{ range .Data.Pages }}
            li
                |
                | {{ if .Params.showDate }}
                |
                | {{ .Date.Format (.Site.Params.dateForm | default "Mon Jan 02, 2006")}} --
                |
                | {{ end }}
                a(href='{{.Permalink}}') {{.Title}}
            | {{ end }}
        | {{ if .Site.Params.mainMenu }}
        .section.bottom-menu
            hr
            p
                | {{ range first 1 .Site.Params.mainMenu }}
                a(href='{{ .link }}') {{ .text }}
                | {{ end }}
                | {{ range after 1 .Site.Params.mainMenu }}
                | &#183; 
                a(href='{{ .link }}') {{ .text }}
                | {{ end }}
                | &#183; 
                a(href='{{.Site.BaseURL}}') {{ .Site.Params.homepage }}
        | {{ end }}
        .section.footer
            | {{ partial "footer.html" . }}