| {{ define "section_content" }}
.section#content
    | {{ .Content }}
    ul
        | {{ range .Data.Pages }}
        li
            |
            | {{ if .Params.showDate }}
            |
            | {{ .Date.Format (.Site.Params.dateForm | default "Mon Jan 02, 2006")}} --
            |
            | {{ end }}
            a(href='{{.Permalink}}') {{.Title}}
        | {{ end }}
| {{ end }}
