{{ partial "head/metadata.html" . }}
{{ partial "head/favicons.html" . }}
{{ partial "head/css.html" . }}
<!-- Google fonts-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Didact+Gothic">

<link rel="canonical" href="{{ .Permalink }}" />
{{ template "_internal/twitter_cards.html" . }}
{{ template "_internal/opengraph.html" . }}
{{ partial "head/schema.html" . }}
{{ with site.Config.Services.GoogleAnalytics.ID }}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ . }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ . }}');
</script>
{{ end }}
