<!DOCTYPE html>
<html>

<head>
    {{ partial "head.html" . }}
    <title>{{ .Title }}</title>
</head>

<body>
    <nav role="navigation" class="flex-container" id="splash">

        {{ if .Site.Params.mainMenu }}
        {{ range .Site.Params.mainMenu }}
            <a href="{{.link}}" class="big-link">
                {{.text}}
            </a>
        {{ end }}

        {{ else }}
        {{ range .Site.Sections }}
            <a href="{{.RelPermalink}}" class="big-link">
                {{.Title}}
            </a>
        {{ end }}
        {{ end }}

    </nav>
</body>

</html>